table{
    font-size:x-large;
    border:10px solid;
    width: 50%;
    
    margin-right: auto;
    text-align: center;
    border-spacing: 10px;
 }
button{
    float: right;
  }
.Information{
    font-size: 30px;
}
.Ueberschrift{
    font-size: 50px;
}
.Sesto{
    font-size:large;
}
.Revuelto{
    font-size:medium;
}